*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
	
							/* Login Page */
/*////////////////////////////////////////////////////////////////////////////////*/

#login{
	background: #9032C8;
}

.contenedor-1{

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.logo{

	display: flex;
	justify-content: center;
	padding-top: 50px; 
}

.sublogo img {
	height: 100px;
}

.formulario{
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: space-between;
}

.textoFormulario{
	display: flex;
	justify-content: center;
	padding-top: 60px;
	padding-left: 30px;
	font-size: 30px;
	color: hsl(0,0%,94%);
	font-weight: 400;

}


.inputFormulario{
	display: flex;
	justify-content: center;
	padding-top: 32px;
	margin-bottom: -20px;
}

input[type="text"]
{
	display: flex;
    font-size:16px;
    height: 35px;
    width: 300px;
    justify-content: space-between;
    padding-left: 14px;

    color: hsl(0,0%,34%);
}

.submitFormulario{
	display: flex;
	justify-content: center;
	padding-top: auto;
}

input[type=submit],
.input-checkbox{
    font-size:16px;
    font-weight: 700;
    height: 35px;
    width: 320px;
    background: #F223C6;
    color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -webkit-appearance: none;
  	border-radius: 0;

}

							/* Main Menu Page */
/*////////////////////////////////////////////////////////////////////////////////*/


#bienvenidxUsuarix{
	background: hsl(0, 0%, 98%);
}


.main{
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bienvenido {
	padding-left: 16px;
	padding-top: 24px;
	margin-bottom: -44px;
}

.bienvenido h1{
	font-size: 68px;
	font-weight: 700;

}

.serviciosConfirmados{
	display: flex;
	justify-content: center;
	height: 120px;
	width: auto;
}

.confirmadosTexto{
	width: 150px;
	background: #9032C8;
	flex: 1;
	flex-grow: .7;
	text-align: center;
	padding:34px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.serviciosDisponibles{
	
	display: flex;
	justify-content: center;
	height: 120px;
}

.disponiblesTexto{
	width: 150px;
	background: #F223C6;
	flex: 1;
	flex-grow: .7;
	text-align: center;
	padding:34px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.confirmadosTexto a,h2{
	color:white;
	font-weight: 300;
}

.disponiblesTexto a,h2{
	color:white;
	font-weight: 300;

}

.cerrarTexto a,h5{
	color:red;
	font-weight: 400;
	font-size: 24px;
	text-align: center;
}

						/* Usuarios Confirmados Page */
/*////////////////////////////////////////////////////////////////////////////////*/


#usuariosConfirmados{
	background: white;
}

#usuariosConfirmados .nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:  white;

  height: 50px;
  box-sizing: border-box;
  padding: 10px;
}

#usuariosConfirmados .header{
	background: #9032C8;
	height: 40px;
	width: 100%;
}

#usuariosConfirmados .header p{
	display:table;
	font-size: 12px;
	padding-top: 12px;
	padding-left: 18px;
	color: #F8F6F8;
	font-weight: 300px;
}

#usuariosConfirmados .fa-times{
	color: #9032C8;
	font-size: 28px;
}
 
#usuariosConfirmados .nav ul,#usuariosConfirmados .nav li {
  display:inline;
}

#usuariosConfirmados .nav li {
  display:inline-block;
  color: #9032C8
}


#usuariosConfirmados .nav a {
  text-decoration: none;
  padding: 17px;
  color: #9032C8;
  font-family: 'Roboto'
}
 
#usuariosConfirmados .nav a:hover {
  color: #eee;
}


#usuariosConfirmados .nav ul {
  padding:0;
  float: right;
  font-weight: 500;
  font-size: 18px;
  padding-top: 3px;
}

#usuariosConfirmados .wrapper{
	width: auto;
	margin: 12px;
	margin-top:50px;
}

#confirmados{
  display: flex;
  background: #eee;
  flex-wrap: wrap;
  justify-content: space-between;
}

#usuariosConfirmados .servicio{
  flex: 1 0 ;
  flex-wrap: wrap;
  height: 300px;
  background-color: white;
  margin: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#usuariosConfirmados h4{
	color: hsl(0,0%,29%);
	font-weight: 500;
}

#usuariosConfirmados h1,h2{
	color: hsl(0,0%,13%);
	font-weight: 700;
}

#usuariosConfirmados h3{
	color: white;
	font-weight: 400;
}

#usuariosConfirmados .rowUno{
	margin-bottom: 12px;
	margin-left: 16px;
	margin-top: 16px;
}

#usuariosConfirmados .rowDos{
	height: 45px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

#usuariosConfirmados .subRowDos-1{
	margin-left: 16px;
}

#usuariosConfirmados .subRowDos-2{
	margin-right: 16px;
}

#usuariosConfirmados .rowTres{
	display: flex;
	justify-content: space-between;
}

#usuariosConfirmados .subRowTres-1{
	margin-left: 16px;
}

#usuariosConfirmados .subRowTres-2{
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	min-width: 130px;
	background-color: #eee;
	margin-right: 16px;
}

#usuariosConfirmados .rowCuatro{
	width: 100%;
	height: 24%;
	display: flex;
	flex-direction: column;
   	align-items: center;
}

#usuariosConfirmados .subRowCuatro{
	font-weight: normal;
	color: #fff;
	padding: 12px;
	margin-top:auto;
	display: flex;
	height: 20%;
	width: 94%;
	background-color: #9032C8;
	align-items: center;
	justify-content: center;
}


						/* Usuarios Disponibles Page */
/*////////////////////////////////////////////////////////////////////////////////*/

#usuariosDisponibles{
	background: white;
}

#usuariosDisponibles .nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:  white;

  height: 50px;
  box-sizing: border-box;
  padding: 10px;
}

#usuariosDisponibles .header{
	background: #F223C6;
	height: 40px;
	width: 100%;
}

#usuariosDisponibles .header p{
	display:table;
	font-size: 12px;
	padding-top: 12px;
	padding-left: 18px;
	color: #F8F6F8;
	font-weight: 300px;
}

#usuariosDisponibles .fa-times{
	color: #F223C6;
	font-size: 28px;
}
 
#usuariosDisponibles .nav ul,#usuariosDisponibles .nav li {
  display:inline;
}

#usuariosDisponibles .nav li {
  display:inline-block;
  color: #F223C6;
}


#usuariosDisponibles .nav a {
  text-decoration: none;
  padding: 17px;
  color: #F223C6;
  font-family: 'Roboto'
}
 
#usuariosDisponibles .nav a:hover {
  color: #eee;
}


#usuariosDisponibles .nav ul {
  padding:0;
  float: right;
  font-weight: 500;
  font-size: 18px;
  padding-top: 3px;
}

#usuariosDisponibles .wrapper{
	width: auto;
	margin: 12px;
	margin-top:50px;
}

#usuariosDisponibles #confirmados{
  display: flex;
  background: #eee;
  flex-wrap: wrap;
  justify-content: space-between;
}

#usuariosDisponibles .servicio{
  flex: 1 0 ;
  flex-wrap: wrap;
  height: 300px;
  background-color: white;
  margin: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#usuariosDisponibles h4{
	color: hsl(0,0%,29%);
	font-weight: 500;
}

#usuariosDisponibles h1,h2{
	color: hsl(0,0%,13%);
	font-weight: 700;
}

#usuariosDisponibles h3{
	color: white;
	font-weight: 400;
}

#usuariosDisponibles .rowUno{
	margin-bottom: 12px;
	margin-left: 16px;
	margin-top: 16px;
}

#usuariosDisponibles .rowDos{
	height: 45px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

#usuariosDisponibles .subRowDos-1{
	margin-left: 16px;
}

#usuariosDisponibles .subRowDos-2{
	margin-right: 16px;
}

#usuariosDisponibles .rowTres{
	display: flex;
	justify-content: space-between;
}

#usuariosDisponibles .subRowTres-1{
	margin-left: 16px;
}

#usuariosDisponibles .subRowTres-2{
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	min-width: 130px;
	background-color: #eee;
	margin-right: 16px;
}

#usuariosDisponibles .rowCuatro{
	width: 100%;
	height: 24%;
	display: flex;
	flex-direction: column;
   	align-items: center;
}

#usuariosDisponibles .subRowCuatro{
	font-weight: normal;
	color: #fff;
	padding: 12px;
	margin-top:auto;
	display: flex;
	height: 20%;
	width: 94%;
	background-color: #F223C6;
	align-items: center;
	justify-content: center;
}
